<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
	<head>
		<meta charset="UTF-8">
		<meta id="csrfName" name="{{ csrf.keys.name }}" content="{{ csrf.name }}">
		<meta id="csrfValue" name="{{ csrf.keys.value }}" content="{{ csrf.value }}">
		<title>
			{% block title %}Ions Framework
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{# <link rel="stylesheet" href="/build/css/styles.css"> #}
			<link rel="stylesheet" href="{{ asset('/css/styles.css') }}">
		{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('/js/scripts.js') }}" defer></script>
		{% endblock %}
	</head>
	<body>
		<div class="container"> {% block content %}{% endblock %}
			</div>
		</body>
	</html>
